*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

[hidden] {
  display: none !important;
}

input,
button,
textarea,
select {
  font-family: "Epilogue", sans-serif;
  color: var(--Medium-Gray);
  font-size: var(--step-0);
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  input,
  button,
  textarea,
  select,
  header {
    font-size: var(--step-1);
  }
}
