@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

  --step--6: clamp(0.18rem, calc(0.6rem + -0.47vw), 0.49rem);
  --step--5: clamp(0.24rem, calc(0.67rem + -0.48vw), 0.56rem);
  --step--4: clamp(0.32rem, calc(0.73rem + -0.46vw), 0.62rem);
  --step--3: clamp(0.42rem, calc(0.8rem + -0.42vw), 0.7rem);
  --step--2: clamp(0.56rem, calc(0.87rem + -0.34vw), 0.79rem);

  --step--1: clamp(0.95rem, calc(0.94rem + -0.21vw), 0.89rem);

  --step-0: clamp(1rem, calc(1rem + 0vw), 1rem);

  --step-1: clamp(1.13rem, calc(1.05rem + 0.31vw), 1.33rem);

  --step-2: clamp(1.27rem, calc(1.09rem + 0.77vw), 1.78rem);
  --step-3: clamp(1.42rem, calc(1.09rem + 1.42vw), 2.37rem);
  --step-4: clamp(1.6rem, calc(1.05rem + 2.34vw), 3.16rem);
  --step-5: clamp(1.8rem, calc(0.95rem + 3.62vw), 4.6rem);
  --step-6: clamp(2.03rem, calc(0.77rem + 5.38vw), 5.61rem);
  --step-7: clamp(1.3rem, calc(0.35rem + 1.81vw), 1rem);
  --step-8: clamp(2.57rem, calc(-0.04rem + 11.12vw), 9.97rem);
  --step-9: clamp(2.89rem, calc(-0.78rem + 15.63vw), 13.29rem);
  --step-10: clamp(3.25rem, calc(-1.85rem + 21.73vw), 17.71rem);

  --space-3xs: clamp(0.25rem, calc(0.25rem + 0vw), 0.25rem);
  --space-2xs: clamp(0.5rem, calc(0.5rem + 0vw), 0.5rem);
  --space-xs: clamp(0.75rem, calc(0.75rem + 0vw), 0.75rem);
  --space-s: clamp(1.2rem, calc(1rem + 0vw), 1rem);
  --space-m: clamp(1.5rem, calc(1.5rem + 0vw), 1.5rem);
  --space-l: clamp(2rem, calc(2rem + 0vw), 2rem);
  --space-xl: clamp(3rem, calc(3rem + 0vw), 3rem);
  --space-2xl: clamp(4rem, calc(4rem + 0vw), 4rem);
  --space-3xl: clamp(6rem, calc(6rem + 0vw), 6rem);
}

body {
  display: grid;
  align-items: start;
  justify-items: center;
  background-color: var(--Almost-White);
  font-size: 1.125rem;
  font-family: "Epilogue", sans-serif;
  max-width: 90rem;
  margin: 0 auto;
}

.logo {
  align-self: baseline;
  padding: var(--space-s);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Medium-Gray);
  font-size: var(--step-0);
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100vh;
  width: 65%;
  padding: 0;
}

#nav-wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

#nav-wrapper.active {
  display: block;
  background-color: var(--Almost-White);
}

#menu-Toggle {
  display: none !important;
}

[aria-expanded="true"] .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

[aria-expanded="true"] .line2 {
  opacity: 0;
}

[aria-expanded="true"] .line3 {
  transform: rotate(45deg) translate(-5.2px, -4px);
}

#mobileMenuTrigger {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--space-s);
  cursor: pointer;
  border: none;
  background: transparent;
  cursor: pointer;
}

#mobileMenuTrigger[aria-expanded="true"]::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -10;
  display: block;
}

#mobileMenuTrigger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.nav-links,
.nav-btns {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.5rem;
}

button:hover,
a:hover {
  color: var(--Almost-Black);
  transition: 0.2s ease-in-out;
}

.nav-links {
  position: relative;
  margin-top: 4rem;
  padding-left: var(--space-m);
}

.nav-links li {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.nav-btns {
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.btn-register {
  width: 90%;
  max-width: 15rem;
  text-align: center;
}

.dropdown-btn::after {
  content: "";
  display: block;
  background-image: url(./images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 0.8rem;
  height: 0.8rem;
  transition: transform 300ms ease-in-out;
}

.dropdown-list {
  border-radius: 1rem;
  background-color: white;
  border: 1px solid black;
  padding: var(--space-s);
  font-size: var(--step-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 2.5rem;
}

.dropdown-btn.rotate::after {
  transform: rotate(180deg);
}

.dropdown-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#featuresDropdownTrigger,
#companyDropdownTrigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.features-list,
.company-list {
  display: none;
}

.dropdown-list.show-dropdown {
  display: flex;
}

button:focus-visible {
  outline: 3px solid var(--Almost-Black);
  outline-offset: 0px;
}

.icon {
  width: 1rem;
  height: 1rem;
}

.btn-register {
  border: 2px solid var(--Medium-Gray);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.btn-register:hover {
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-Black);
}

/* Main */
main {
  position: absolute;
  top: 5rem;
  z-index: -100;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3.5rem 0;
  align-items: center;
}

span {
  display: inline;
}

h1 {
  font-size: var(--step-6);
}

p {
  color: var(--Medium-Gray);
  font-size: var(--step-0);
  line-height: 1.7;
  width: 95%;
}

.btn-learn-more {
  background-color: var(--Almost-Black);
  color: var(--Almost-White);
  padding: 1rem;
  border-radius: 1rem;
  width: 10rem;
  cursor: pointer;
  text-align: center;
}

.btn-learn-more:hover {
  background: transparent;
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-Black);
}

/* Client container */
.client-container {
  position: relative;
  bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

/* DESKTOP */
@media screen and (min-width: 48rem) {
  body {
    padding: var(--space-l);
  }

  .dark-overlay {
    display: none;
  }

  #mobileMenuTrigger {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: inherit;
  }

  #nav-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-links,
  .nav-btns {
    display: flex;
    flex-direction: row;
  }

  .nav-links {
    position: relative;
    margin-top: 0rem;
  }

  .nav-btns {
    width: auto;
    margin-top: 0rem;
  }

  .dropdown-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: var(--step--1);
  }

  .features-list,
  .company-list {
    display: none;
  }

  .features-list {
    position: absolute;
    top: 2.5rem;
    left: -3rem;
  }

  button:focus-visible {
    outline-offset: 5px;
  }

  /* Main */
  main {
    max-width: 75rem;
    position: absolute;
    top: 5rem;
    text-align: left;
    display: grid;
    z-index: -100;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content-container image-container ";
  }

  .image-container {
    grid-area: image-container;
    margin: 3rem 0;
  }

  .content-container {
    grid-area: content-container;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 0;
    align-items: start;
    justify-content: center;
    position: relative;
  }

  .client-container {
    position: absolute;
    bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  span {
    display: block;
  }

  h1 {
    font-size: var(--step-5);
  }

  p {
    color: var(--Medium-Gray);
    font-size: var(--step-7);
    line-height: 1.7;
    width: 95%;
  }
}
